# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [ ]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [ ]:
# Upload applicants_data.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data.csv

In [ ]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv', parse_dates=True, infer_datetime_format=True)

# Review the DataFrame
applicant_data_df

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...,...
34294,996009318,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,996010315,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,996012607,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,996015768,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,996086871,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [ ]:
# Review the data types associated with the columns
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [ ]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=["EIN", "NAME"])


# Review the DataFrame
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [ ]:
#
applicant_data_df.dtypes[applicant_data_df.dtypes == "object"]

# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes == "object"].index)

# Display the categorical variables list
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [ ]:
# Imports
from sklearn.preprocessing import OneHotEncoder

In [ ]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [ ]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [ ]:
# Create a DataFrame with the encoded variables
encoded_df = encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names(categorical_variables)
)

# Review the DataFrame
encoded_df

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Create a DataFrame with the columnns containing numerical variables from the original dataset
numerical_variables_df = applicant_data_df.drop(columns=categorical_variables)

# Review the DataFrame
numerical_variables_df

       STATUS   ASK_AMT  IS_SUCCESSFUL
0           1      5000              1
1           1    108590              1
2           1      5000              0
3           1      6692              1
4           1    142590              1
...       ...       ...            ...
34294       1      5000              0
34295       1      5000              0
34296       1      5000              0
34297       1      5000              1
34298       1  36500179              0

[34299 rows x 3 columns]

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [ ]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
attrition_df = pd.concat(
    [numerical_variables_df, encoded_df
     ],
     axis=1
)

# Reveiw the DataFrame
attrition_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [ ]:
# Define the target set y using the IS_SUCCESSFUL column
y = attrition_df["IS_SUCCESSFUL"]

# Display a sample of y
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [ ]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = attrition_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
X

,STATUS,ASK_AMT,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34295,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34296,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34297,1,5000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
34298,1,36500179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0

### Step 6: Split the features and target sets into training and testing datasets.

In [ ]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [ ]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_classes = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [ ]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 = (hidden_nodes_layer1 +1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [ ]:
# Create the Sequential model instance
nn = nn = Sequential()

In [ ]:
# Add the first hidden layer
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [ ]:
# Add the second hidden layer
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [ ]:
# Add the output layer to the model specifying the number of output neurons and activation function
nn.add(Dense(units=number_classes, activation="sigmoid"))

In [ ]:
# Display the Sequential model summary
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [ ]:
# Compile the Sequential model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5738 - accuracy: 0.7156
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5514 - accuracy: 0.7281
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5485 - accuracy: 0.7315
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7330
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7335
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7329
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7342
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5428 - accuracy: 0.7345
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7355
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7358
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5413 - accuracy: 0.7364
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5404 - accuracy: 0.7364
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7367
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5393 - accuracy: 0.7360
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7372
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7374
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5383 - accuracy: 0.7377
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5378 - accuracy: 0.7380
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5377 - accuracy: 0.7385
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7387
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7384
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7387
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7382
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7390
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7392
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7393
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7387
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7392
Epoch 31/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5354 - accuracy: 0.7386
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7396
Epoch 33/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5345 - accuracy: 0.7396
Epoch 34/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5347 - accuracy: 0.7400
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7399
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5346 - accuracy: 0.7400
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7403
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7402
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7397
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5336 - accuracy: 0.7400
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7409
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7405
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5333 - accuracy: 0.7403
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5327 - accuracy: 0.7407
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5332 - accuracy: 0.7392
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5326 - accuracy: 0.7409
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5329 - accuracy: 0.7407
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5328 - accuracy: 0.7403
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7406
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5319 - accuracy: 0.7415

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [ ]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5524 - accuracy: 0.7313 - 489ms/epoch - 2ms/step
Loss: 0.5524103045463562, Accuracy: 0.7313119769096375

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [ ]:
# Set the model's file path
file_path = Path("/Resources/application_attrition.h5")

# Export your model to a HDF5 file
nn.save(file_path)

NameError: ignored

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 3

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

59

In [ ]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [ ]:
# First hidden layer
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
nn_A1.add(Dense(units=number_output_neurons_A1, activation="linear"))


# Check the structure of the model
nn_A1.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 59)                6903

 dense_4 (Dense)             (None, 3)                 180

=================================================================
Total params: 7,083
Trainable params: 7,083
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=60)

Epoch 1/60
804/804 [==============================] - 2s 2ms/step - loss: 1.9933 - accuracy: 0.3276
Epoch 2/60
804/804 [==============================] - 1s 2ms/step - loss: 1.2522 - accuracy: 0.2961
Epoch 3/60
804/804 [==============================] - 2s 2ms/step - loss: 1.0973 - accuracy: 0.3292
Epoch 4/60
804/804 [==============================] - 2s 2ms/step - loss: 1.0129 - accuracy: 0.3523
Epoch 5/60
804/804 [==============================] - 1s 2ms/step - loss: 1.1511 - accuracy: 0.3370
Epoch 6/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2621 - accuracy: 0.2915
Epoch 7/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3929 - accuracy: 0.3572
Epoch 8/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2968 - accuracy: 0.3372
Epoch 9/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3533 - accuracy: 0.3209
Epoch 10/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2717 - accuracy: 0.2750
Epoch 11/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2937 - accuracy: 0.2898
Epoch 12/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3223 - accuracy: 0.3164
Epoch 13/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2907 - accuracy: 0.3402
Epoch 14/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2643 - accuracy: 0.3242
Epoch 15/60
804/804 [==============================] - 2s 2ms/step - loss: 1.4752 - accuracy: 0.3282
Epoch 16/60
804/804 [==============================] - 2s 2ms/step - loss: 1.4600 - accuracy: 0.3480
Epoch 17/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3681 - accuracy: 0.2859
Epoch 18/60
804/804 [==============================] - 2s 2ms/step - loss: 1.4446 - accuracy: 0.3156
Epoch 19/60
804/804 [==============================] - 2s 2ms/step - loss: 1.7099 - accuracy: 0.3480
Epoch 20/60
804/804 [==============================] - 2s 2ms/step - loss: 1.7524 - accuracy: 0.3309
Epoch 21/60
804/804 [==============================] - 2s 2ms/step - loss: 1.6292 - accuracy: 0.3091
Epoch 22/60
804/804 [==============================] - 2s 2ms/step - loss: 1.4640 - accuracy: 0.3456
Epoch 23/60
804/804 [==============================] - 2s 2ms/step - loss: 1.4742 - accuracy: 0.3442
Epoch 24/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3143 - accuracy: 0.2836
Epoch 25/60
804/804 [==============================] - 2s 2ms/step - loss: 1.1973 - accuracy: 0.2409
Epoch 26/60
804/804 [==============================] - 2s 2ms/step - loss: 1.3776 - accuracy: 0.2408
Epoch 27/60
804/804 [==============================] - 2s 2ms/step - loss: 1.2532 - accuracy: 0.3353
Epoch 28/60
804/804 [==============================] - 2s 2ms/step - loss: 1.1605 - accuracy: 0.3277
Epoch 29/60
804/804 [==============================] - 2s 2ms/step - loss: 1.0093 - accuracy: 0.2475
Epoch 30/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9436 - accuracy: 0.2477
Epoch 31/60
804/804 [==============================] - 2s 3ms/step - loss: 0.8771 - accuracy: 0.3022
Epoch 32/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8923 - accuracy: 0.3176
Epoch 33/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9442 - accuracy: 0.3185
Epoch 34/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8608 - accuracy: 0.3524
Epoch 35/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8573 - accuracy: 0.3216
Epoch 36/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9155 - accuracy: 0.3453
Epoch 37/60
804/804 [==============================] - 2s 2ms/step - loss: 1.0437 - accuracy: 0.2528
Epoch 38/60
804/804 [==============================] - 2s 2ms/step - loss: 1.0437 - accuracy: 0.2949
Epoch 39/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8727 - accuracy: 0.3340
Epoch 40/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9115 - accuracy: 0.2738
Epoch 41/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8662 - accuracy: 0.2885
Epoch 42/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9104 - accuracy: 0.3168
Epoch 43/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8753 - accuracy: 0.3171
Epoch 44/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8252 - accuracy: 0.3282
Epoch 45/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8122 - accuracy: 0.3532
Epoch 46/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9026 - accuracy: 0.3616
Epoch 47/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8759 - accuracy: 0.3262
Epoch 48/60
804/804 [==============================] - 2s 2ms/step - loss: 0.9247 - accuracy: 0.2350
Epoch 49/60
804/804 [==============================] - 2s 2ms/step - loss: 0.8275 - accuracy: 0.3400
Epoch 50/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7755 - accuracy: 0.3332
Epoch 51/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7907 - accuracy: 0.2886
Epoch 52/60
804/804 [==============================] - 2s 3ms/step - loss: 0.7668 - accuracy: 0.3141
Epoch 53/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7439 - accuracy: 0.2382
Epoch 54/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7408 - accuracy: 0.3317
Epoch 55/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7660 - accuracy: 0.3954
Epoch 56/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7658 - accuracy: 0.3431
Epoch 57/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7706 - accuracy: 0.2520
Epoch 58/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7539 - accuracy: 0.3015
Epoch 59/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7440 - accuracy: 0.3052
Epoch 60/60
804/804 [==============================] - 2s 2ms/step - loss: 0.7350 - accuracy: 0.3043

#### Alternative Model 2

In [ ]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [ ]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [ ]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features + number_output_neurons_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

58

In [ ]:
#Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A2 + number_output_neurons_A2) // 2

#Review the number of hidden nodes in the second layer
hidden_nodes_layer2_A2

In [ ]:
#Define the number of hidden nodes for the third hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer2_A2 + number_output_neurons_A2) // 2

#Review the number od hidden nodes in the second layer
hidden_nodes_layer3_A2

15

In [ ]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [ ]:
# First hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))

#Second hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))

#Third hidden layer
nn_A2.add(Dense(units=hidden_nodes_layer3_A2, activation="relu"))

# Output layer
nn_A2.add(Dense(units=number_output_neurons_A2, activation="linear"))


# Check the structure of the model
nn_A2.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_5 (Dense)             (None, 58)                6786

 dense_6 (Dense)             (None, 29)                1711

 dense_7 (Dense)             (None, 15)                450

 dense_8 (Dense)             (None, 1)                 16

=================================================================
Total params: 8,963
Trainable params: 8,963
Non-trainable params: 0
_________________________________________________________________

In [ ]:
# Compile the model
nn_A2.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [ ]:
# Fit the model
fit_model_A2 = nn_A2.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.7317 - accuracy: 0.7057
Epoch 2/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6796 - accuracy: 0.7241
Epoch 3/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6431 - accuracy: 0.7186
Epoch 4/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6361 - accuracy: 0.7249
Epoch 5/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6449 - accuracy: 0.7106
Epoch 6/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6334 - accuracy: 0.7287
Epoch 7/75
804/804 [==============================] - 4s 5ms/step - loss: 0.6378 - accuracy: 0.7297
Epoch 8/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6362 - accuracy: 0.7313
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6341 - accuracy: 0.7243
Epoch 10/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6282 - accuracy: 0.7289
Epoch 11/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6212 - accuracy: 0.7331
Epoch 12/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6295 - accuracy: 0.7283
Epoch 13/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6205 - accuracy: 0.7296
Epoch 14/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6120 - accuracy: 0.7296
Epoch 15/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6071 - accuracy: 0.7331
Epoch 16/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6117 - accuracy: 0.7324
Epoch 17/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6011 - accuracy: 0.7307
Epoch 18/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6039 - accuracy: 0.7321
Epoch 19/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7320
Epoch 20/75
804/804 [==============================] - 3s 3ms/step - loss: 0.6040 - accuracy: 0.7262
Epoch 21/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6157 - accuracy: 0.7279
Epoch 22/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5943 - accuracy: 0.7333
Epoch 23/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6051 - accuracy: 0.7259
Epoch 24/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5934 - accuracy: 0.7360
Epoch 25/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5996 - accuracy: 0.7292
Epoch 26/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7330
Epoch 27/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5882 - accuracy: 0.7359
Epoch 28/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6035 - accuracy: 0.7277
Epoch 29/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6088 - accuracy: 0.7277
Epoch 30/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6014 - accuracy: 0.7324
Epoch 31/75
804/804 [==============================] - 2s 2ms/step - loss: 0.6005 - accuracy: 0.7342
Epoch 32/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5941 - accuracy: 0.7360
Epoch 33/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5894 - accuracy: 0.7353
Epoch 34/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5919 - accuracy: 0.7361
Epoch 35/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5932 - accuracy: 0.7348
Epoch 36/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5904 - accuracy: 0.7353
Epoch 37/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5897 - accuracy: 0.7357
Epoch 38/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5863 - accuracy: 0.7368
Epoch 39/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5903 - accuracy: 0.7368
Epoch 40/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5900 - accuracy: 0.7359
Epoch 41/75
804/804 [==============================] - 3s 4ms/step - loss: 0.5905 - accuracy: 0.7378
Epoch 42/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5965 - accuracy: 0.7281
Epoch 43/75
804/804 [==============================] - 2s 3ms/step - loss: 0.6091 - accuracy: 0.7186
Epoch 44/75
804/804 [==============================] - 3s 4ms/step - loss: 0.6001 - accuracy: 0.7268
Epoch 45/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5950 - accuracy: 0.7362
Epoch 46/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5789 - accuracy: 0.7375
Epoch 47/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5807 - accuracy: 0.7366
Epoch 48/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5869 - accuracy: 0.7367
Epoch 49/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5759 - accuracy: 0.7370
Epoch 50/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5746 - accuracy: 0.7366
Epoch 51/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5802 - accuracy: 0.7377
Epoch 52/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5809 - accuracy: 0.7259
Epoch 53/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5754 - accuracy: 0.7370
Epoch 54/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5684 - accuracy: 0.7376
Epoch 55/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5878 - accuracy: 0.7370
Epoch 56/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5765 - accuracy: 0.7365
Epoch 57/75
804/804 [==============================] - 3s 3ms/step - loss: 0.5829 - accuracy: 0.7270
Epoch 58/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5782 - accuracy: 0.7352
Epoch 59/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5743 - accuracy: 0.7377
Epoch 60/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5779 - accuracy: 0.7385
Epoch 61/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5685 - accuracy: 0.7343
Epoch 62/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5729 - accuracy: 0.7349
Epoch 63/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5703 - accuracy: 0.7369
Epoch 64/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5700 - accuracy: 0.7346
Epoch 65/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5758 - accuracy: 0.7364
Epoch 66/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5712 - accuracy: 0.7363
Epoch 67/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5682 - accuracy: 0.7360
Epoch 68/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5634 - accuracy: 0.7322
Epoch 69/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5573 - accuracy: 0.7367
Epoch 70/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5570 - accuracy: 0.7367
Epoch 71/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5633 - accuracy: 0.7374
Epoch 72/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5663 - accuracy: 0.7371
Epoch 73/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5602 - accuracy: 0.7332
Epoch 74/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5672 - accuracy: 0.7341
Epoch 75/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5555 - accuracy: 0.7388

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [ ]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5524 - accuracy: 0.7313 - 345ms/epoch - 1ms/step
Loss: 0.5524103045463562, Accuracy: 0.7313119769096375

In [ ]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.7328 - accuracy: 0.4166 - 450ms/epoch - 2ms/step
Loss: 0.7327975630760193, Accuracy: 0.41655975580215454

In [ ]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled, y_test, verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.5775 - accuracy: 0.7273 - 457ms/epoch - 2ms/step
Loss: 0.5775237679481506, Accuracy: 0.7273469567298889

### Step 3: Save each of your alternative models as an HDF5 file.

In [ ]:
# Set the file path for the first alternative model
file_path = Path("Resources/Alternative_1.h5")

# Export your model to a HDF5 file
nn_A1.save(file_path)

NameError: ignored

In [ ]:
# Set the file path for the second alternative model
file_path = file_path = Path("../Resources/Alternative_2.h5")

# Export your model to a HDF5 file
nn_A2.save(file_path)